@use '../abstracts/mixins' as mx;

.to-top {
  position: fixed;
  display: inline-block;
  bottom: 2rem;
  right: 2rem;
  height: 5.5rem;
  width: 5.5rem;
  transform: rotate(180deg);
  background-image: url('../../assets/tree-logo--inner.svg');
  background-size: contain;
  z-index: 1000;
  cursor: pointer;
  border-radius: 100vw;
  transition: all 350ms;
}

.to-top:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(300deg);
}

@include mx.respond(phone) {
  .to-top {
    display: none;
  }
}
