.section-heading-box {
  border-bottom: solid 2px var(--color-white);
  margin-bottom: 8rem;
}

.spectre-logo__box {
  max-width: 25rem;
  margin: 60rem auto 0;
}

.spectre-logo__img {
  width: 100%;
}
